In [1]:
import numpy as np
import pandas as pd

from sklearn.neighbors import KNeighborsClassifier

D:\anacondna\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
D:\anacondna\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)

In [3]:
salary = pd.read_csv('./data/adults.txt')
salary.shape

(32561, 15)

In [4]:
salary.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
y = salary['salary']

In [7]:
X = salary.iloc[:,[0,1,3,5,6,8,9,-2,-3]]

In [8]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,State-gov,Bachelors,Never-married,Adm-clerical,White,Male,United-States,40
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,United-States,13
2,38,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,United-States,40
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,United-States,40
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,Cuba,40

In [9]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 9 columns):
age               32561 non-null int64
workclass         32561 non-null object
education         32561 non-null object
marital_status    32561 non-null object
occupation        32561 non-null object
race              32561 non-null object
sex               32561 non-null object
native_country    32561 non-null object
hours_per_week    32561 non-null int64
dtypes: int64(2), object(7)
memory usage: 2.2+ MB

In [10]:
knn = KNeighborsClassifier()

knn.fit(X,y)

In [12]:
#数据预处理   数据转换
workclass = X['workclass'].unique()

m = {}
for i,work in enumerate(workclass):
    m[work] = i

In [14]:
X['workclass'] = X['workclass'].map(m)

D:\anacondna\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,Bachelors,Never-married,Adm-clerical,White,Male,United-States,40
1,50,1,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,United-States,13
2,38,2,HS-grad,Divorced,Handlers-cleaners,White,Male,United-States,40
3,53,2,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,United-States,40
4,28,2,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,Cuba,40

In [16]:
u = X['occupation'].unique()
np.argwhere(u == 'Sales')[0,0]

5

In [17]:
for col in X.columns[2:-1]:
    
    u = X[col].unique()
    
    def  convert(x):
        return np.argwhere(u == x)[0][0]
    # np.argwhere(a>5)#返回值是a中的数据大于5的索引数组
    
    X[col] = X[col].map(convert)

D:\anacondna\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,0,0,0,0,0,0,40
1,50,1,0,1,1,0,0,0,13
2,38,2,1,2,2,0,0,0,40
3,53,2,2,1,2,1,0,0,40
4,28,2,0,1,3,1,1,1,40

In [19]:
from sklearn.model_selection import train_test_split

In [25]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [26]:
X_train.shape

(26048, 9)

In [27]:
knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X_train,y_train)

y_ = knn.predict(X_test)

result = y_ == y_test

result.mean()

0.7792108091509289

In [28]:
X.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,39,0,0,0,0,0,0,0,40
1,50,1,0,1,1,0,0,0,13
2,38,2,1,2,2,0,0,0,40
3,53,2,2,1,2,1,0,0,40
4,28,2,0,1,3,1,1,1,40

In [29]:
#最大值  最小值  归一化
v_min = X.min()
v_max = X.max()

In [30]:
X2 = (X - v_min)/(v_max - v_min)
X2.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,0.301370,0.000,0.000000,0.000000,0.000000,0.00,0.0,0.00000,0.397959
1,0.452055,0.125,0.000000,0.166667,0.071429,0.00,0.0,0.00000,0.122449
2,0.287671,0.250,0.066667,0.333333,0.142857,0.00,0.0,0.00000,0.397959
3,0.493151,0.250,0.133333,0.166667,0.142857,0.25,0.0,0.00000,0.397959
4,0.150685,0.250,0.000000,0.166667,0.214286,0.25,1.0,0.02439,0.397959

In [31]:
# 归一化，消除属性差异
X_train,X_test,y_train,y_test = train_test_split(X2,y,test_size = 0.2)
knn = KNeighborsClassifier(n_neighbors=15,weights='distance')

knn.fit(X_train,y_train)

y_ = knn.predict(X_test)

result = y_ == y_test

result.mean()

0.8183632734530938

In [43]:
#Z-score   标准归一化
v_mean = X.mean()

v_std = X.std()

X3 = (X - v_mean)/v_std
X3.head()

,age,workclass,education,marital_status,occupation,race,sex,native_country,hours_per_week
0,0.030670,-1.884571,-0.991569,-0.866068,-1.378100,-0.353403,-0.703061,-0.255743,-0.035429
1,0.837096,-1.068730,-0.991569,-0.066951,-1.082777,-0.353403,-0.703061,-0.255743,-2.222119
2,-0.042641,-0.252888,-0.702015,0.732166,-0.787453,-0.353403,-0.703061,-0.255743,-0.035429
3,1.057031,-0.252888,-0.412460,-0.066951,-0.787453,1.240608,-0.703061,-0.255743,-0.035429
4,-0.775756,-0.252888,-0.991569,-0.066951,-0.492130,1.240608,1.422309,-0.057541,-0.035429

In [44]:
# 归一化，消除属性差异
X_train,X_test,y_train,y_test = train_test_split(X3,y,test_size = 0.2)
knn = KNeighborsClassifier(n_neighbors=15,weights='distance')

knn.fit(X_train,y_train)

y_ = knn.predict(X_test)

result = y_ == y_test

result.mean()

0.8140641793336404

In [45]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler

In [46]:
s = StandardScaler()
X4 = s.fit_transform(X)
X4[:5]

array([[ 0.03067056, -1.88460023, -0.99158435, -0.8660817 , -1.37812112,
        -0.35340882, -0.70307135, -0.25574647, -0.03542945],
       [ 0.83710898, -1.0687461 , -0.99158435, -0.06695205, -1.08279326,
        -0.35340882, -0.70307135, -0.25574647, -2.22215312],
       [-0.04264203, -0.25289198, -0.70202542,  0.7321776 , -0.78746539,
        -0.35340882, -0.70307135, -0.25574647, -0.03542945],
       [ 1.05704673, -0.25289198, -0.4124665 , -0.06695205, -0.78746539,
         1.240627  , -0.70307135, -0.25574647, -0.03542945],
       [-0.77576787, -0.25289198, -0.99158435, -0.06695205, -0.49213753,
         1.240627  ,  1.42233076, -0.05754204, -0.03542945]])

In [47]:
#保存模型
from sklearn.externals import joblib

In [48]:
joblib.dump(knn,'./model')

['./model']

In [49]:
#加载模型
model = joblib.load('./model')
model

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=15, p=2,
           weights='distance')

In [50]:
model.score(X_test,y_test)

0.8140641793336404